#app {
    display: flex;
    justify-content: space-between;
}

#app > div {
    border: 1px solid black;
    min-height: 1500px;
}

/* region Лево*/
#left {
    min-width: 250px;
}

/* endregion */

/* region Центр - основной чарник */

#center {
    min-width: max(50%, 900px);
    width: max-content;
}

/** region Title*/

.title {
    display: grid;
    min-height: 100px;
    grid-template-columns: 40% 5% 20% 5% 30%;
    grid-template-rows: 80% 20%;
    font-family: "Century Gothic";
    text-transform: uppercase;
}

.title__vampire_letter_v {
    grid-column: 2/2;
    grid-row: 1/3;
    font-size: 40pt;
    display: flex;
}
.title__vampire_letter_v span {
    display: inline-block;
    font-size: 1em;
    transform: translateX(15px) translateY(35px) scale(1, 2);
    /*flex-grow: 1;*/
    justify-self: center;
}

.title__vampire_letters_other__top {
    display: flex;
    grid-column: 3/3;
    grid-row: 1/1;
    border-bottom: 1px solid black;
    text-align: justify;
    align-items: flex-end;
    justify-content: space-around;
    height: 100%;
}

.title__vampire_letters_other__top span {
    display: inline-block;
    font-size: 1em;
    transform: scale(2, 4);
    transform-origin: left bottom;
    /*flex-grow: 1;*/
    justify-self: center;
}

.title__vampire_letter_e {
    grid-column: 4/4;
    grid-row: 1/3;
    font-size: 40pt;
    display: flex;
}
.title__vampire_letter_e span {
    display: inline-block;
    font-size: 1em;
    transform: translateY(35px) scale(1, 2);
    /*flex-grow: 1;*/
    justify-self: center;
}

.title__vampire_letters_other__bottom {
    grid-column: 3/3;
    grid-row: 2/2;
}

/** endregion */

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.section__name {
    padding: 20px;
    font-size: 15pt;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
}

.section__group {
    padding-left: 15px;
    padding-right: 5px;
}

.section__elements {
    max-height: 300px;
    overflow-y: auto;
}

.section__group_name {
    padding: 10px;
    justify-self: center;
    align-self: center;
}

.section__element {
    padding-top: 10px;
}

/*endregion*/

/** region Право */
#right {
    min-width: 250px;
}
/* endregion*/