#app {
    display: flex;
    & > div {
        border: 1px solid black;
          min-height: 1500px;
    }
}

/* region Лево*/
#left {
    min-width: 250px;
}

/* endregion */

/* region Центр - основной чарник */

#center {
    min-width: max(50%, 786px);
    width: max-content;
}

.title {
    padding-left: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 20pt;
    font-style: gotic;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.section__name {
    padding: 20px;
    font-size: 15pt;
    grid-column: 1 / 4;
    justify-self: center;
    align-self: center;
}

.section__group_name {
    padding: 10px;
    justify-self: center;
    align-self: center;
}

.section__element {
    padding-top: 10px;
}

/*endregion*/

/** region Право */
#right {
    min-width: 250px;
}
/* endregion*/